.topSection_container {
    height:60vh;
}

.logo-banner{
    background: linear-gradient(to right,#FF6F00,#FF9100);
    border-radius: 25px 0px 0px 25px;
    h1, h3 {
        color:#0D0002;
        font-family: $font-1;
        text-transform: uppercase;
        font-weight:700;
    }
    h1 {
        font-size:4rem; 
    }
    h3 {
        font-size:2rem;
    }
    .rotaract__logo {
        height:8rem;
    }
}

.rotaract-logo-wrapper {
    display: none;
    justify-content: center;
    img {
        margin-top: 1.3rem;
        width: 80px;
        height: 80px;
    }
}

.about-us {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    span {
        border-bottom: 3px solid rgb(110, 110, 110);
    }
}

.arrow_to_top {
    position: absolute;
    right:0;
    color: #fff;
    &:hover {
        cursor: pointer;
    }
}
@keyframes viewGalleryButton {
    from {
        padding-bottom:1.5rem;
    }
    to {
        padding-bottom:1rem;
    }
}