.footer__line {
        width: 100%;
        height: 2px;
        background-color: rgba(#5C5C5C, 0.4);

}

.foot__er {
    z-index: 0;
    // background: url("../../assets/flat_hill.png");
    // background-position: left;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-color: #111;
    h1, h2, h3, h4, h5, h6 {
        color: rgba(#fff, 0.8);
        font-family: $font-1;
    }

    .contact_form_container {
        width: 120%;
        
        // background: rgba(255, 255, 255, 0.14);
        // backdrop-filter: blur(40px);
        // -webkit-backdrop-filter: blur(40px);
        h2 {
            color: rgba(#000, 0.8);
            font-family: $font-1;
            margin-bottom: 2rem;
        }
        input {
            &:focus {
                outline: none;
            }
        }
        // background: url("../../assets/svg_smile.png");
        background-color: #fefefe;
        background-position: center center;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        
        border-radius:6px;
        margin-right: 0;
        z-index: 9;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-top: -2rem;
        .wrapper {
            position: relative;
            border: none !important;
            outline: none !important;
            input {
                font-family: $font-1;
                position: relative;
                background: transparent;
                border: 0;
                border-bottom: 2px solid rgba(#111, 0.5);
                font-weight: 700;
                color:rgba(#111, 0.875);
                &:focus+.placeholder {
                    background: transparent;
                    transform: translate(0.625rem, -10px) scale(0.8);
                }
                &:valid+.placeholder {
                    transform: translate(0.625rem, -10px) scale(0.8);
                }
            }
            .placeholder {
                color: rgba(#111, 0.6);
                position: absolute;
                z-index:0;
                bottom: 1rem;
                left: 0;
                padding: 0 0 0.25rem;
                font-weight: 700;
                transform: translate(0.5rem, 15px);
                transform-origin: 0% 0%;
                background: transparent;
                pointer-events: none;
                transition: transform 0.35s, background 0.35s;
            }
        }
    }
}


footer {
    a {
        text-decoration:none;
        color:#5c5c5c;
    }
    font-family:$font-1;
    color:#5C5C5C;
}

