.our__vision__section {
    border-left: 5px solid #042C95;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    margin: 10rem 0;
    .main__heading {
        font-size:2.4rem;
        font-family: $font-1;
    }
    .section__para {
        font-family: $font-1;
        font-weight: 800;
        color: rgba(black, 0.8);
    }
}
.our_vision_background_wrapper {
    // background: #111;
    // padding: 2rem;
    // margin: 2rem 0;
}

@media (min-width:121px) and (max-width:375px) {
    .main__heading {
        font-size:2rem !important;
    }

}

@media (min-width:550.98px) and (max-width:767.98px) {
    .main__heading {
        font-size:2.5rem !important;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .main__heading {
        font-size:2.7rem !important;
    }
}